@model IEnumerable<string>

@{
    ViewData["Title"] = "Autori";
}

<h1>Elenco Autori</h1>
<p>

    @{
        var pattern = "ABCDEFGHIJKLMNOPQRSTUVXWYZ";
        for(int i = 0; i< pattern.Length; i++)
        {
            <th>
                <td>  <a><b>@pattern[i]</b></a></td>
            </th>
            
            <br />
            foreach(var item in Model)
            {
                if (item.StartsWith(pattern[i]))
                {
                    <a href="/Opere/index?autore=@item">@item <br /></a>
                }
            }
            <br />
            <hr />
            <br />
        }
    }
