@model GamCollezioni.Models.Opera

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Opera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Autore" class="control-label"></label>
                <input asp-for="Autore" class="form-control" />
                <span asp-validation-for="Autore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titolo" class="control-label"></label>
                <input asp-for="Titolo" class="form-control" />
                <span asp-validation-for="Titolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datazione" class="control-label"></label>
                <input asp-for="Datazione" class="form-control" />
                <span asp-validation-for="Datazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tecnica" class="control-label"></label>
                <input asp-for="Tecnica" class="form-control" />
                <span asp-validation-for="Tecnica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dimensioni" class="control-label"></label>
                <input asp-for="Dimensioni" class="form-control" />
                <span asp-validation-for="Dimensioni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Immagine" class="control-label"></label>
                <input asp-for="Immagine" class="form-control" />
                <span asp-validation-for="Immagine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
